.main{
    display: flex;
    flex-direction: row;
    position: absolute;
    height: 100%;
    width: 100%;
    border: 1px solid red;
}
.messages{
    flex-basis: 77%;
    border: 1px solid green;
}
.members{
    flex-basis: 23%;
}
.container{
    display: flex;
}

.container h3{
    margin: 0;
}
.container h4 {
    margin: 0 auto;
}